mat-card {
  width: 80%;
  margin-top: 1rem;
}

.mat-row, .mat-header-row {
  width: 100%;
  width: max-content;
}

.mat-table {
  overflow: scroll;
  max-height: 80%;
}

.mat-cell,
.mat-header-cell {
  min-width: 180px;
}
/*unnecessary to make table header fixed*/
.mat-header-row {
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: inherit;
  text-align: center;
}
