<mat-card>
  <form (submit)="onStaffCreate(staffForm)" #staffForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="firstName"
        ngModel
        placeholder="First Name">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="lastName"
        ngModel
        placeholder="Last Name">
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Create Staff</button>
  </form>
</mat-card>
